body {
  margin: 0;
  font-family: 'Segoe UI';
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.heading-1 {
  font-size: 18px;
}

@media (min-width: 320px) {
  .heading-1 {
    font-size: calc(18px + 22 * (100vw - 320px) / 1046);
  }
}

@media (min-width: 1366px) {
  .heading-1 {
    font-size: 40px;
  }
}

.heading-2 {
  font-size: 14px;
}

@media (min-width: 320px) {
  .heading-2 {
    font-size: calc(14px + 11 * (100vw - 320px) / 1046);
  }
}

@media (min-width: 1366px) {
  .heading-2 {
    font-size: 25px;
  }
}

label {
  display: block;
  margin: 0 0 1% 0;
}

input, select {
  border-radius: 5px;
  font-family: 'Segoe UI';
  background-color: #eeeeee;
  border-style: none;
  font-size: 10px;
}

@media (min-width: 320px) {
  input, select {
    font-size: calc(10px + 6 * (100vw - 320px) / 1046);
  }
}

@media (min-width: 1366px) {
  input, select {
    font-size: 16px;
  }
}

input[type='submit'], button {
  font-family: 'Segoe UI Light';
  background-color: #5C5D65;
  color: white;
  cursor: pointer;
}

button {
  border-radius: 5px;
  border-style: none;
}

button:disabled {
  opacity: .5;
}

.invoice {
  color: white;
  background-color: #0babfe;
}

.approvedSts {
  color: white;
  background-color: #4bceaf;
}

.pendingSts {
  color: #222222;
  background-color: #ffad1e;
}

.canceledSts, .rejectedSts {
  color: white;
  background-color: #f1637e;
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  30% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  60% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  30% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  60% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
}

.container {
  background: url(../img/bg.jpg) no-repeat;
  background-size: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5vh 35vh 55vh 5vh;
      grid-template-rows: 5vh 35vh 55vh 5vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.container .section {
  font-size: 10px;
}

@media (min-width: 320px) {
  .container .section {
    font-size: calc(10px + 6 * (100vw - 320px) / 1046);
  }
}

@media (min-width: 1366px) {
  .container .section {
    font-size: 16px;
  }
}

.container .section:nth-child(1) {
  color: white;
  display: -ms-grid;
  display: grid;
  font-family: 'Segoe UI Light';
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.container .section:nth-child(1) .menu {
  left: 15%;
  position: relative;
}

.container .section:nth-child(1) .menu a {
  margin: 0 0 0 2%;
}

.container .section:nth-child(1) .user {
  right: 22%;
  position: relative;
  text-align: right;
}

.container .section:nth-child(1) span {
  display: inline-block;
  position: relative;
}

.container .section:nth-child(1) span .ddlUser {
  text-align: left;
  position: absolute;
  padding: 5px 10px;
  min-width: 5vw;
  border-radius: 5px;
  color: #5C5D65;
  background-color: white;
  -webkit-box-shadow: 0px 0px 30px -5px #eeeeee;
          box-shadow: 0px 0px 30px -5px #eeeeee;
  opacity: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  z-index: 1;
}

.container .section:nth-child(1) span .ddlUser a {
  display: block;
}

.container .section:nth-child(1) span:hover .ddlUser {
  opacity: 1;
}

.container .section:nth-child(2) {
  color: white;
  position: relative;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Segoe UI Light';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .section:nth-child(2) .tagline {
  padding: 0 20px;
  background-color: #5C5D65;
}

.container .section:nth-child(2) div {
  margin: 5px 0;
}

.container .section:nth-child(3) {
  color: #5C5D65;
}

.container .section:nth-child(3) .citieslist {
  background-color: white;
  height: 95%;
  width: 80%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 30px -5px #eeeeee;
          box-shadow: 0px 0px 30px -5px #eeeeee;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 5px;
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
  -ms-grid-rows: 80% 10%;
      grid-template-rows: 80% 10%;
}

.container .section:nth-child(3) .citieslist table, .container .section:nth-child(3) .citieslist th, .container .section:nth-child(3) .citieslist td {
  border-collapse: collapse;
  border: 1px solid #eeeeee;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
}

.container .section:nth-child(3) .citieslist table thead {
  text-align: left;
}

.container .section:nth-child(3) .citieslist table thead tr {
  display: block;
}

.container .section:nth-child(3) .citieslist table thead th {
  border-bottom: 1px solid #5C5D65;
}

.container .section:nth-child(3) .citieslist table th, .container .section:nth-child(3) .citieslist table td {
  width: 25vw;
  padding: 1% 0;
}

.container .section:nth-child(3) .citieslist table tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 30vh;
}

.container .section:nth-child(3) .citieslist table tbody tr:hover {
  background-color: #eeeeee;
}

.container .section:nth-child(3) .citieslist table tbody form {
  display: inline;
}

.container .section:nth-child(3) .citieslist table tbody form button {
  border-style: none;
  color: white;
  padding: 2% 5%;
  border-radius: 5%;
}

.container .section:nth-child(3) .citieslist table .editBtn {
  background-color: #0babfe;
}

.container .section:nth-child(3) .citieslist table .deleteBtn {
  background-color: #f1637e;
}

.container .section:nth-child(3) .citieslist div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .section:nth-child(3) .citieslist div a {
  height: 100%;
  width: 15%;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5C5D65;
  color: white;
  font-family: "Segoe UI Light";
}

.container .section:nth-child(3) .citieslist div a:hover {
  text-decoration: none;
}

.container .section:nth-child(4) {
  color: #5C5D65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container::before {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50vh;
  z-index: -1;
}

.container:after {
  content: '';
  background-color: #5C5D65;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.3;
}
/*# sourceMappingURL=mngcity.css.map */