meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
title Travel Protal
link(rel='icon', href='assets/img/travelico.png', attr)
base(href="http://localhost:8082/travel-portal/")